<configuration>
	<system.webServer>
		<handlers>
			<clear/>
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read"/>
		</handlers>
		<staticContent>
			<mimeMap fileExtension=".*" mimeType="application/octet-stream"/>
		</staticContent>
	</system.webServer>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<compilation targetFramework="4.5"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web></configuration>
